h1, h2{
    font-family: 'New Tegomin', serif;
    
}
body{
    width: 1020px;
    margin: auto;
}
h1{
    animation-duration: 2s;
    animation-name: slidein;
}
@keyframes slidein{
    from{
        margin-left: 1020px;
        width:100%;
    }
    to{
        margin-left: 0px;
    }
}
.box{
    margin: 8px;
    position:relative;
    float: left;
    width: 490px;
    height: 490px;
    border: solid black 1px;
}
section{
    padding-bottom: 50px;
    width: 1020px;
    column-count: 2;
    column-gap: 100px;
    column-width: 400px;
    column-rule-style: solid;
    column-rule-width: 1px;
}
img{
    transition: width 2s, height 2s;
    width: 100px;
    height: 100px;
}

img:hover{
    width: 490px;
    height: 490px;
}
a{
    border: black solid 1px;
    padding:5px;
    margin:3px;
    color: black;
    font-size: 1.2em;
}

input{
    text-align: center;
}

.form_container{
    background-color: lightblue;
    width: 280px;
    height: 340px;
}

.login{
    height:170px;
}

p{
    padding: 10px;
}